<mat-drawer-container class="content-wrapper" autosize LayoutAlign="start">
  <mat-drawer #drawer class="sidenav" mode="side" fxFlexOrder="1" [opened]="drawerOpen">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/device-types">Device Types</a>
      <a mat-list-item routerLinkActive="active" routerLink="/device-groups">Device Groups</a>
      <a mat-list-item routerLinkActive="active" routerLink="/devices">Devices</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="content" fxFlexOrder="2" fxFlexAlign="top">
    <mat-toolbar class="navbar">
      <button type="button" color="{{ drawerOpen ? 'accent' : '' }}" mat-button (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <ng-content></ng-content>
  </div>

</mat-drawer-container>
