<div fxLayout="row" fxLayoutGap="10px">
  <mat-form-field fxFlex="grow">
    <input (keyup)="applyFilter($event.target.value)" [value]="dataSource.filter" matInput placeholder="Filter">
    <button (click)="applyFilter('')" *ngIf="dataSource.filter" aria-label="Clear" mat-button mat-icon-button matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button fxFlex="initial" color="primary" mat-button routerLink="/dmx-color-variables/new">
    Add <mat-icon>add</mat-icon>
  </button>
</div>

<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>

  <ng-container matColumnDef="name" sticky>
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
    <td *matCellDef="let element" mat-cell>{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Value</th>
    <td *matCellDef="let element" mat-cell>{{value(element)}}</td>
  </ng-container>

  <ng-container matColumnDef="hex">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Hex Value</th>
    <td *matCellDef="let element" mat-cell>
      <app-color [blue]="element.blue" [green]="element.green" [red]="element.red" [white]="element.white"></app-color>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell>Actions</th>
    <td *matCellDef="let element" mat-cell>
      <button mat-button matTooltip="Edit" routerLink="/dmx-color-variables/{{ element.id }}">
        <mat-icon aria-label="Edit/View Details">edit</mat-icon>
      </button>
      <button (click)="copyEntity(element)" mat-button matTooltip="Duplicate">
        <mat-icon aria-label="Copy">exit_to_app</mat-icon>
      </button>
      <button (click)="deleteEntity(element)" mat-button matTooltip="Delete">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
<mat-paginator [pageSizeOptions]="[10,50,100,250,500]" [pageSize]="250"></mat-paginator>
