<section fxLayout="row" fxLayoutAlign="center center">
  <mat-card *ngIf="form.value else loading">
    <mat-card-header>
      <mat-card-title>Edit DMXDeviceType</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" autocomplete="off" fxLayout="row wrap" fxLayoutGap.gt-sm="10px" novalidate>
        <mat-form-field fxFlex>
          <input formControlName="name" id="name" matInput placeholder="Name" type="text">
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
        </mat-form-field>

        <div fxFlex="grow" fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex>
            <input
              formControlName="channelCount"
              id="channelCount"
              matInput
              min="0"
              placeholder="channel count"
              type="number"
            >
            <mat-error *ngIf="hasError('channelCount', 'required')">ChannelCount is required</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <input
              formControlName="channelsPerLED"
              i
                ="channelsPerLED"
              matInput
              min="0"
              placeholder="channels per LED" type="number"
            >
            <mat-error *ngIf="hasError('channelsPerLED', 'required')">ChannelsPerLED is required</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex fxLayout="row" fxLayoutGap="10px">
          <mat-checkbox formControlName="strobeEnabled" fxFlex>strobe enabled</mat-checkbox>
          <mat-form-field fxFlex>
            <input
              formControlName="strobeChannel"
              id="strobeChannel"
              matInput
              min="0"
              placeholder="strobe channel"
              type="number">
            <mat-error *ngIf="hasError('strobeChannel', 'required')">strobe channel is required</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex fxLayout="row" fxLayoutGap="10px">
          <mat-checkbox formControlName="dimmerEnabled" fxFlex>dimmer enabled</mat-checkbox>
          <mat-form-field fxFlex>
            <input
              formControlName="dimmerChannel"
              id="dimmerChannel"
              matInput
              min="0"
              placeholder="dimmer channel"
              type="number">
            <mat-error *ngIf="hasError('dimmerChannel', 'required')">dimmer channel is required</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex fxLayout="row" fxLayoutGap="10px">
          <mat-checkbox formControlName="modeEnabled" fxFlex>mode enabled</mat-checkbox>
          <mat-form-field fxFlex>
            <input
              formControlName="modeChannel"
              id="modeChannel"
              matInput
              min="0"
              placeholder="mode channel"
              type="number">
            <mat-error *ngIf="hasError('modeChannel', 'required')">mode channel is required</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="grow">
          <h3>Moving Head</h3>
          <div>
            <mat-checkbox formControlName="moving" fxFlex="grow">is a moving head device</mat-checkbox>
          </div>
        </div>

        <div fxFlex="grow">
          <div fxFlex fxLayout="row" fxLayoutGap="10px">

            <mat-form-field fxFlex>
              <input
                formControlName="panChannel"
                id="panChannel"
                matInput
                min="0"
                placeholder="pan channel"
                type="number">
              <mat-error *ngIf="hasError('panChannel', 'required')">pan channel is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
              <input
                formControlName="panFineChannel"
                id="panFineChannel"
                matInput
                min="0"
                placeholder="pan fine channel"
                type="number">
              <mat-error *ngIf="hasError('panFineChannel', 'required')">pan fine channel is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
              <input
                formControlName="tiltChannel"
                id="tiltChannel"
                matInput
                min="0"
                placeholder="tilt channel"
                type="number">
              <mat-error *ngIf="hasError('tiltChannel', 'required')">tilt channel is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
              <input
                formControlName="tiltFineChannel"
                id="tiltFineChannel"
                matInput
                min="0"
                placeholder="tilt fine channel"
                type="number">
              <mat-error *ngIf="hasError('tiltFineChannel', 'required')">tilt fine channel is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
              <input
                formControlName="panTiltSpeedChannel"
                id="panTiltSpeedChannel"
                matInput
                min="0"
                placeholder="pan & tilt speed channel"
                type="number">
              <mat-error *ngIf="hasError('panTiltSpeedChannel', 'required')">pan & tilt speed channel is required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="grow">
          <h3>LEDs</h3>
        </div>

        <dmx-led-list-form #ledList [array]="form.controls.leds" fxFlex="grow"></dmx-led-list-form>
      </form>

    </mat-card-content>
    <mat-card-actions>
      <button (click)="save()" [disabled]="!form.valid" mat-button>
        <mat-icon>save</mat-icon>
        Save
      </button>
      <button (click)="cancel()" mat-button>
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</section>
