<div fxLayout="row" fxLayoutGap="10px">
  <mat-form-field fxFlex="grow">
    <input (keyup)="applyFilter($event.target.value)" [value]="dataSource.filter" matInput placeholder="Filter">
    <button (click)="applyFilter('')" *ngIf="dataSource.filter" aria-label="Clear" mat-button mat-icon-button matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button fxFlex="initial" color="primary" mat-button routerLink="/dmx-device-types/new">
    Add <mat-icon>add</mat-icon>
  </button>
</div>


<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>

  <ng-container matColumnDef="name" sticky>
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
    <td *matCellDef="let element" mat-cell>{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="channelCount">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Channels</th>
    <td *matCellDef="let element" mat-cell>{{element.channelCount}}</td>
  </ng-container>

  <ng-container matColumnDef="channelsPerLED">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Channels per LED</th>
    <td *matCellDef="let element" mat-cell>{{element.channelsPerLED}}</td>
  </ng-container>

  <ng-container matColumnDef="strobe">
    <th *matHeaderCellDef mat-header-cell>Strobe(chan)</th>
    <td *matCellDef="let element" mat-cell>

      <span *ngIf="element.strobeEnabled" class="text-with-icon">
        <mat-icon>check_box</mat-icon>
        ({{ element.strobeChannel }})
      </span>

      <span *ngIf="!element.strobeEnabled">
        <mat-icon>check_box_outline_blank</mat-icon>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="dimmer">
    <th *matHeaderCellDef mat-header-cell>Dimmer(chan)</th>
    <td *matCellDef="let element" mat-cell>

      <span *ngIf="element.dimmerEnabled" class="text-with-icon">
        <mat-icon>check_box</mat-icon>
        ({{ element.dimmerChannel}})
      </span>

      <span *ngIf="!element.dimmerEnabled">
        <mat-icon>check_box_outline_blank</mat-icon>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="mode">
    <th *matHeaderCellDef mat-header-cell>Mode(chan)</th>
    <td *matCellDef="let element" mat-cell>

      <span *ngIf="element.modeEnabled" class="text-with-icon">
        <mat-icon>check_box</mat-icon>
        ({{ element.modeChannel}})
      </span>

      <span *ngIf="!element.modeEnabled">
        <mat-icon>check_box_outline_blank</mat-icon>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="moving">
    <th *matHeaderCellDef mat-header-cell>Moving(chan)</th>
    <td *matCellDef="let element" mat-cell>

      <span *ngIf="element.moving" class="text-with-icon">
        <mat-icon>check_box</mat-icon>
        (Pan: {{ element.panChannel}}, Tilt: {{ element.tiltChannel }})
      </span>

      <span *ngIf="!element.moving">
        <mat-icon>check_box_outline_blank</mat-icon>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="leds">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>LEDs</th>
    <td *matCellDef="let element" mat-cell>{{ element.leds.length }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell>Actions</th>
    <td *matCellDef="let element" mat-cell>
      <button mat-button matTooltip="Edit" routerLink="/dmx-device-types/{{ element.id }}">
        <mat-icon aria-label="Edit/View Details">edit</mat-icon>
      </button>
      <button (click)="copyEntity(element)" mat-button matTooltip="Duplicate">
        <mat-icon aria-label="Copy">exit_to_app</mat-icon>
      </button>
      <button (click)="deleteEntity(element)" mat-button matTooltip="Delete">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
<mat-paginator [pageSizeOptions]="[10,50,100,250,500]" [pageSize]="250"></mat-paginator>
