<div fxLayout="row" fxLayoutGap="10px">
  <mat-form-field fxFlex="grow">
    <input (keyup)="applyFilter($event.target.value)" [value]="dataSource.filter" matInput placeholder="Filter">
    <button (click)="applyFilter('')" *ngIf="dataSource.filter" aria-label="Clear" mat-button mat-icon-button matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button fxFlex="initial" color="primary" mat-button routerLink="/songs/new">
    Add <mat-icon>add</mat-icon>
  </button>
</div>

<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
    <td *matCellDef="let element" mat-cell>{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="dmxScenes">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>DMX Scenes</th>
    <td *matCellDef="let element" mat-cell>{{element.dmxScenes.length}}</td>
  </ng-container>

  <ng-container matColumnDef="barChanges">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Timing / BarChanges</th>
    <td *matCellDef="let element" mat-cell>
      <mat-chip-list>
        <mat-chip *ngFor="let bc of element.barChanges">{{bc.at}}: {{bc.noteCount}}/{{bc.noteValue}}@{{bc.speed}}</mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="midiCommands">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>MIDI Commands</th>
    <td *matCellDef="let element" mat-cell>{{element.midiCommands.length}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell>Actions</th>
    <td *matCellDef="let element" mat-cell>
      <button mat-button matTooltip="Edit" routerLink="/songs/{{ element.id }}">
        <mat-icon aria-label="Edit/View Details">edit</mat-icon>
      </button>
      <button (click)="copyEntity(element)" mat-button matTooltip="Duplicate">
        <mat-icon aria-label="Copy">exit_to_app</mat-icon>
      </button>
      <button (click)="deleteEntity(element)" mat-button matTooltip="Delete">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
      <app-playback-button [song]="element"></app-playback-button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
<mat-paginator [pageSizeOptions]="[10,50,100,250,500]" [pageSize]="250"></mat-paginator>
