<mat-form-field>
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
</mat-form-field>

<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
  <!--
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  -->

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="dmxScenes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DMX Scenes</th>
    <td mat-cell *matCellDef="let element">{{element.dmxScenes.length}}</td>
  </ng-container>

  <ng-container matColumnDef="dmxDeviceParams">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DMX DeviceParams</th>
    <td mat-cell *matCellDef="let element">{{element.dmxDeviceParams.length}}</td>
  </ng-container>

  <ng-container matColumnDef="barChanges">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Timing / BarChanges</th>
    <td mat-cell *matCellDef="let element">
      <mat-chip-list>
        <mat-chip *ngFor="let bc of element.barChanges">{{bc.at}}: {{bc.noteCount}}/{{bc.noteValue}}@{{bc.speed}}</mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="midiCommands">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>MIDI Commands</th>
    <td mat-cell *matCellDef="let element">{{element.midiCommands.length}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button routerLink="/songs/{{ element.id }}">
        <mat-icon aria-label="Edit/View Details">edit</mat-icon>
      </button>
      <button mat-button (click)="deleteEntity(element)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10,50,100,200]" [pageSize]="100"></mat-paginator>
<button mat-fab routerLink="/songs/new" class="floating">
  <mat-icon aria-label="Add a new Song">add</mat-icon>
</button>

