<div fxLayout="column">
  <div fxFlex>
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field fxFlex>
        <mat-select [(ngModel)]="device" placeholder="DMX Device">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let device of devices$ | async" [value]="device">{{ device.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="!controllerError" fxFlex>
    <app-device-channel-inputs (updateChannelValue)="update($event)" *ngIf="device" [device]="device"></app-device-channel-inputs>
  </div>
  <div *ngIf="controllerError" fxFlex>
    <mat-card class="error">{{ controllerError }}</mat-card>
  </div>
</div>
