<mat-form-field>
  <input (keyup)="applyFilter($event.target.value)" [value]="dataSource.filter" matInput placeholder="Filter">
  <button (click)="applyFilter('')" *ngIf="dataSource.filter" aria-label="Clear" mat-button mat-icon-button matSuffix>
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
  <!--
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  -->

  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
    <td *matCellDef="let element" mat-cell>{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="songs">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Songs</th>
    <td *matCellDef="let element" mat-cell>{{element.songs.length}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell>Actions</th>
    <td *matCellDef="let element" mat-cell>
      <button mat-button matTooltip="Edit" routerLink="/set-lists/{{ element.id }}">
        <mat-icon aria-label="Edit/View Details">edit</mat-icon>
      </button>
      <button (click)="copyEntity(element)" mat-button matTooltip="Duplicate">
        <mat-icon aria-label="Copy">exit_to_app</mat-icon>
      </button>
      <button (click)="deleteEntity(element)" mat-button matTooltip="Delete">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
      <app-playback-button [setList]="element"></app-playback-button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
<mat-paginator [pageSizeOptions]="[10,50,100,200]" [pageSize]="100"></mat-paginator>

<button class="floating" mat-fab routerLink="/set-lists/new">
  <mat-icon aria-label="Add a new SetList">add</mat-icon>
</button>

