<section fxLayout="row" fxLayoutAlign="center center">
  <mat-card [hidden]="loading">
    <mat-card-header>
      <mat-card-title>Edit DMXTransition</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" autocomplete="off" novalidate fxLayout="column" fxLayoutGap.gt-sm="10px">
        <mat-form-field fxFlex>
          <input matInput type="text" placeholder="Name" formControlName="name" id="name">
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
        </mat-form-field>

        <div fxLayout="row wrap" fxLayoutGap.gt-xs="10px">
          <mat-form-field fxFlex>
            <mat-select formControlName="ease">
              <mat-option *ngFor="let ease of easeFunctions" [value]="ease">{{ ease }}</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('ease', 'required')">Ease function is required</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <input matInput type="number" min="0" max="255" placeholder="Length" formControlName="length" id="length">
            <mat-error *ngIf="hasError('length', 'required')">Length is required</mat-error>
          </mat-form-field>
        </div>

        <dmx-transition-params-form fxFlex [form]="form.controls.params" #paramsForm></dmx-transition-params-form>
      </form>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="save()" [disabled]="!form.valid">
        <mat-icon>save</mat-icon>
        Save
      </button>
      <button mat-button (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-spinner [hidden]="!loading"></mat-spinner>
</section>
